<section class="row">
  <div style="background-image: url('/images/pexels-serkangoktay-90639.jpg'); background-repeat: no-repeat;
    background-attachment: fixed; background-size: cover; min-height: 100vh;">
    <h1 class="display-1">Wait there...</h1>
    <p class="lead">
        A simple ordering system built for small operations with big results.
    </p>
    {{!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Got to order pages
    </button>
    <ul class="dropdown-menu">
        {{#each admins}}
        <li><a class="dropdown-item" href="/orders/{{this.id}}">{{this.username}}</a></li>
        {{/each}}
    </ul>
    </div> --}}
    <div>
      <a role="button" class="btn btn-secondary" href="/login">Log in</button>
      <a role="button" class="btn btn-secondary" href="/login">Sign up</a>
    </div>
    <p>Photo by <a href="https://www.pexels.com/photo/grayscale-photo-2-person-sitting-in-a-separate-benches-on-the-seaside-90639/">Serkan Göktay</a></p>
  </div>
</section>

