{{!-- <section class="row">
    <h1 class="text-bg-danger p-3">{{admin.username}}Waikerie Netball Club</h1>
</section>
<section class="row">
    <div class="col-md-4">
        <h4>Review order</h4>
        <div class="row mb-3" id="reviewEl-id">
        </div>
        <div class="mb-3 row">
            <label for="a" class="col-sm-2 col-form-label">Item</label>
            <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="a" value="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword">
            </div>
        </div>

                <button type="submit" class="btn btn-dark col-3" id="submit">Submit order</button>
            </div>
</section> --}}